@charset "UTF-8";

.c-mail {
	color: #3376CD;
}

.c-bilibili {
	color: #479FD1;
}

.c-youtube {
	color: #FF0033;
}

.c-zhihu {
	color: #0084FF;
}

.c-discord {
	color: #5063F2;
}

.c-reddit {
	color: #EB5528;
}

.c-mcforum {
	color: #7FB64D;
}

.c-wechat {
	color: #51AA38;
}

.project-archive::before {
	content: "[Archive]";
	color: orange;
}

.project-fork::before {
	content: "[Fork]";
	color: deepskyblue;
}

.status-online::after {
	content: "ONLINE";
	color: green;
}

.status-offline::after {
	content: "OFFLINE";
	color: red;
}